Step 0 : Import data

In [3]:
import pandas as pd
import numpy as np

immo = pd.read_csv("data/_properties_data.csv", index_col='id')
immo.head()

C:\Users\mendo\AppData\Local\Temp\ipykernel_16740\3897253848.py:4: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  immo = pd.read_csv("data/_properties_data.csv", index_col='id')

,URL,Status,transactionType,transactionSubtype,price,type,subtype,country,region,province,...,toiletCount,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm,epcScore,hasDoubleGlazing,saleType,creationDate,lastModificationDate
id,,,,,,,,,,,,,,,,,,,,,
10616805,https://www.immoweb.be/en/classified/10616805,200,FOR_SALE,BUY_REGULAR,695000.0,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,2.0,NaN,NaN,NaN,93.0,A,True,NaN,2023-06-07T06:47:04.000+0000,2023-06-29T08:21:22.767+0000
10616810,https://www.immoweb.be/en/classified/10616810,200,FOR_SALE,BUY_REGULAR,317500.0,APARTMENT,APARTMENT,Belgium,Flanders,East Flanders,...,NaN,1.0,1.0,NaN,NaN,NaN,True,NaN,2023-06-07T06:47:54.000+0000,2023-06-29T08:34:19.170+0000
10616831,https://www.immoweb.be/en/classified/10616831,200,FOR_SALE,BUY_REGULAR,465000.0,APARTMENT,GROUND_FLOOR,Belgium,Wallonie,Walloon Brabant,...,2.0,53.0,53.0,NaN,50.0,A,True,NaN,2023-06-07T06:54:05.000+0000,2023-06-29T08:35:00.040+0000
10616813,https://www.immoweb.be/en/classified/10616813,200,FOR_SALE,BUY_REGULAR,385000.0,APARTMENT,APARTMENT,Belgium,Brussels,Brussels,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2023-06-07T06:49:00.000+0000,2023-06-29T08:26:25.197+0000
10616815,https://www.immoweb.be/en/classified/10616815,200,FOR_SALE,BUY_REGULAR,NaN,APARTMENT_GROUP,APARTMENT_GROUP,Belgium,Wallonie,Luxembourg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NewRealEstateProject,2023-06-07T06:50:47.000+0000,2023-06-29T14:04:26.017+0000

Step 1 : Data Cleaning

In [6]:

#validate numbres (only numbers)
#immo["price"] = immo["price"].astype(int)
immo.select_dtypes(include= np.number)

,Status,price,postalCode,floor,bedroomCount,netHabitableSurface,constructionYear,facadeCount,floorCount,gardenSurface,terraceSurface,land,bathroomCount,showerRoomCount,toiletCount,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm
id,,,,,,,,,,,,,,,,,,,
10616839,200,265000.0,3200.0,0.0,2.0,90.0,1976.0,4.0,3.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,117.0
10616917,200,169000.0,8660.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,391.0
10616910,200,399000.0,3550.0,1.0,2.0,125.0,2013.0,NaN,NaN,NaN,24.0,NaN,1.0,0.0,1.0,1.0,1.0,NaN,142.0
10616840,200,265000.0,3200.0,0.0,2.0,90.0,1976.0,4.0,3.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,164.0
10616926,200,165000.0,4101.0,0.0,2.0,70.0,NaN,NaN,NaN,90.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,366.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10616805,200,695000.0,8300.0,1.0,2.0,74.0,2004.0,2.0,4.0,NaN,4.0,NaN,2.0,0.0,2.0,NaN,NaN,NaN,93.0
10616810,200,317500.0,9200.0,0.0,3.0,127.0,2022.0,NaN,NaN,NaN,16.0,NaN,1.0,0.0,NaN,1.0,1.0,NaN,NaN
10616831,200,465000.0,1420.0,0.0,3.0,130.0,2025.0,2.0,3.0,154.0,18.0,NaN,2.0,0.0,2.0,53.0,53.0,NaN,50.0
10616813,200,385000.0,1210.0,1.0,2.0,85.0,2023.0,2.0,6.0,NaN,8.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
10616815,200,NaN,6810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN